h1{color:pink;
border:2px dashed #6B8E23;
padding:20px;
margin-top:50px;
margin-bottom:50px}
h2{background:green;color:white}
h3{color: green;
border:1px solid orange}
h4{border: 2px solid yellow;padding:20px;border-radius:15px}